
/************ GLOSSARY *************/

html, body, .container {
    height: 100%;
    width: 100vw;
    padding-top: 10px;
}

video {
    width: 480px;
}

h1 {
    font-size: 1.5rem;
}

.glossaryWord {
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.glossaryWord:hover {
    background: orange;
}

.subtitleSpan:hover {
    background: orange;
}

.subtitleSpan {
    display: inline;
}





