
body {
    background-color: #ffffff;
}

nav {
    height: 115px;
    background-color: #fcfcfc;
}
nav > .row {
    height: 100%;
}
nav img {
    height: 100%;
    padding: 10px;
}

.input-group {
    top: 34px;
    box-shadow: 0 0 8px 3px rgba(233, 233, 233, 0.98);
}

.form-control {
    width: 592px;
    background-color: #fcfcfc;
    border-radius: 4px;
    height: 48px;
    border: 0px;
}
.form-control::placeholder {
    color: #dedede;
}

.input-group-text {
    background-color: #ffffff;
    border: solid thin #0095ff;
    border-radius: 4px;
}

.input-group-text > i {
    color: #060606;
}

/* ROWS SETUP */
div.container-fluid > .row:first-child { /* panel */
    height: 520px;
}

div.container-fluid > .row:first-child > div:nth-child(2) { /* make relative so controls can stay on bottom */
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
}

div.container-fluid > .row:nth-child(3) {
    background-color: rgba(201, 205, 208, 0.05);
    padding: 28px 0px;
}

div.container-fluid > .row:nth-child(2) > div { /* title row*/
    padding: 40px 0;
}

div.container-fluid > .row:nth-child(4) {
    padding: 46px 0px;
}

div.container-fluid > .row:nth-child(5) {
    margin-bottom: 52px;
}

/* PANEL SETUP */
.panel {
    background-color: #272626;
}

.parent ~ .parent { /* hides all but first component */
    display: none;
}

.component {
    float: none;
    display: block;
    margin: 0 auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#videoOverlay {
    background-color: black;
    z-index: 15;
    position: absolute;
    opacity: 0.6;
    top: 115px; /* from nav and margin-top of first row*/
    pointer-events: none; /*so mouse events pass through */
}

.parent {
    width: 100%;
    height: 100%;
    padding-bottom: 48px;
}

.parent:nth-child(3) video, .parent:nth-child(3) img { /* video in text component */
    height: 100%;
    max-height: 100%;
    float: left;
    max-width: 100%;
}

.parent:nth-child(3) video {
    width: 100%;
}

.parent:nth-child(3) > .row:nth-child(1) > .col-md-12 > div {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    text-align: center;
}

.parent:nth-child(3) > .row:nth-child(1) > div:nth-child(1) > div {
    height: 100%;
}

/* the two wrapper divs for text img and video*/
.parent:nth-child(3) > .row:nth-child(1) > .col-md-12 > div > div:nth-child(1), .parent:nth-child(3) > .row:nth-child(1) > .col-md-12 > div > div:nth-child(2)  {
    height: 100%;
    display:inline-block;
    padding: 0 40px;
}

.vertical-align { /* assign to the row that you want all columns vertically aligned in */
    display: flex;
    align-items: center;
}

/* CONTROLS */

.controls {
    margin: 0;
    background-color: #343232;
    width: 100%;
    height: 48px;
    opacity: .88;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 4px;
}

/* ARROWS */
.arrow {
    z-index: 5;
}
.leftArrow {
    float: right;
}
.rightArrow {
    float: left;
}
.fa-angle-right, .fa-angle-left {
    color: #acabab;
    opacity: 1.0;
    font-size: 57.1px;
}
.fa-angle-left:hover, .fa-angle-right:hover {
    opacity: 0.2;
    cursor: pointer;
}
.deactivated {
    opacity: 0.2;
    cursor: default;
}

/* Picture component */ 
.panel img {
    /* removes blue overlay if selecting image */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* BELOW THE PANEL */
h1 {
    font-family: "Nunito", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #414141;
}

h2 {
    font-family: "Nunito", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #414141;
    font-size: 24px;
    font-weight: bold;
}

p, span {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.component:nth-child(3) {
    height: 100%;
}

#storyText {
    padding: 0 114px 0px 114px;
    width: 100%;
    text-align: left;
    height: 100%;
    /*bottom: 48px; /* same height as controls */
    color: #414141;
    background-color: #d8d8d8;
}

.parent > .row {
    margin: 0;
}

/* text component row 1 */
.parent:nth-child(3) > .row:nth-child(1) {
    height: 60%;
}

.parent:nth-child(3) > .row:nth-child(1) > div {
    width: 100%;
    padding: 0;
}

/* text component row 2, text */
.parent:nth-child(3) > .row:nth-child(2) {
    height: 40%;
}

.changeLang {
    display: inline-block;
    height: 100%;
    text-align: center;
}

.changeLang:hover {
    opacity: 0.2;
    cursor: pointer;
}

.fa-sign-language {
    font-size: 30px;
    position: relative;
    top: calc(50% - 15px);
}

i {
    color: #ededed;
    padding-right: 10px;
}

#languages {
    position: absolute;
    background: #343232;
    color: #ededed;
    right: 0;
    display: none;
    border-radius: 4px;
}

#languages div:hover {
    background-color: #272626;
    color: #ededed;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.oval1 {
  width: 71px;
  height: 302px;
  -ms-transform: rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform: rotate(-159deg);
  opacity: 0.45;
  background-color: #b7dcf6;
  position: absolute;
  z-index: 5000;
  display: block;
}

/* SLIDER */
#slider {
    margin: 0 auto;
}

.ui-slider-horizontal {
    height: 3px;
    width: 75%;
}

.ui-slider {
    border: 0;
    background-color: #ededed;
    border-radius: 6px;
    top: 50%;
}

.ui-slider-handle {
    width: 19px;
    height: 18px;
    background-color: #ededed;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    top: 50%;
    margin-top: -4px;
}

.ui-slider-handle:hover {
    opacity: 0.8;
}

.ui-slider-handle:focus {
    /* remove blue focus outline in chrome */
    outline: none;
}

.tickmark {
    display:inline-block;
    /*border-left: thin white solid;*/
    background-color: #ededed;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    position:absolute;
    top: -50%;
    box-sizing: content-box;

}

/* Glossary */
.glossary {
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.glossary:hover {
    background: orange;
}



/************** CAROUSEL **************/
/* http://kenwheeler.github.io/slick/ */

.slick-loading .slick-list {
    background: #fff url('../img/ajax-loader.gif') center center no-repeat;
}

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/slick.eot');
    src: url('fonts/slick.eot?#iefix') format('embedded-opentype'), url('fonts/slick.woff') format('woff'), url('fonts/slick.ttf') format('truetype'), url('fonts/slick.svg#slick') format('svg');
}

.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}




.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

.slider {
    width: 100%;
    margin: 0 auto;
}

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }

    .slick-slide {
      transition: all ease-in-out .3s;
      /*opacity: .2;*/
    }
    
    .slick-active {
      /*opacity: .5;*/
    }

    .slick-current {
      opacity: 1;
    }

#fromCarouselTitle {
    margin-top: 58px;
}



