<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- Featherlight -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.13/featherlight.min.css" type="text/css" rel="stylesheet" />
    <!-- Font Awesome icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- My stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/zeplin.css">
    <!-- jQuery 3.3.1 -->
    <script src="js/jquery-min.js"></script> 
    <!-- Featherlight -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.13/featherlight.min.js"></script>
    <!-- My script -->
    <script src="js/story_script.js"></script>

</head>

<body>
    <!-- The story -->
    <nav></nav>
    <div class="container-fluid view">
        <!-- Panel -->
        <div class="row panel vertical-align">
            <div class="col-md-2 col-xs-2">
                <div class="leftArrow arrow"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
            </div>

            <div class="col-md-8 col-xs-8 vcenter">
                <!-- Picture -->
                <img class="component" src="pictures/story_2/story_2_1.png" />

                <!-- Video -->
                <video class="component" controls>
                    <source src="videos/example.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>

                <!-- Glossary -->
                <div class="component">
                    <p id="storyText"></p>
                </div>
            </div>

            <div class="col-md-2 col-xs-2">
                <div class="rightArrow arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
            </div>

        </div>

        <!-- Title and little bits of info -->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col">
                        <h1>First Man and Woman</h1>
                    </div>
                </div>
                <!-- Icons -->
                <div class="row">
                    <div class="col">
                    <i class="far fa-eye"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

        <!-- Story description -->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p><i class="fas fa-user-circle"></i><span class="bold">Massimo V.</span></p>
                <p>Filipino Folktale: The Legend of the First Filipinos.</p>
                <p><span class="bold">Genres:</span> Folk, Fable</p>
                <p><span class="bold">Tags:</span> #folk #motivation #inspiration #hardwork</p>
            </div>
            <div class="col-md-2"></div>
        </div>

        <!-- Similar stories swipe gallery -->
        <div class="row">
            <div class="col-md-2">
                <div class="leftArrow arrow"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
            </div>
            <div class="col-md-8">
                <h2>similar stories</h2>
            </div>
            <div class="col-md-2">
                <div class="rightArrow arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
            </div>
        </div>

        <!-- From this author swipe gallery -->
        <div class="row">
            <div class="col-md-2">
                <div class="leftArrow arrow"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
            </div>
            <div class="col-md-8">
                <h2>from Massimo V.</h2>
            </div>
            <div class="col-md-2">
                <div class="rightArrow arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>
</body>




