
body {
    margin: 0;
    padding: 0;
    color: #FDFDFD;
}

.panel {
    height: 500px;
    top: 30px;
    background-color: black;
    position: relative; /* for centering icons */
}

.arrow {
    position: absolute; /* for centering */
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 100;
    display: inline-block;
}

.fa-angle-right, .fa-angle-left {
    color: lightgray;
    opacity: 0.2;
    font-size: 100px;
    margin: 25px;
}

.arrow:last-child { /* change this selector if I add control bar as last child */
    right: 0px;
}

.fa-angle-left:hover, .fa-angle-right:hover {
    opacity: 1.0;
    cursor: pointer;
}

#controls {
    height: 50px;
    background-color: black;
}

.component ~ .component { /* Hides all but first component */
    display: none;
}

/* Picture component */ 
.panel img {
    height: 100%;
    margin: 0 auto;
    display: block;
    /* removes blue overlay if selecting image */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Video component */
#play {
    height: 50px;
    position: absolute;
    width: 50px;
}

video {
    height: 100%;
    margin: 0 auto;
    display: block;
}

/* Glossary component */

div.component {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

p {
    z-index: 100;
    font-size: 30px;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin: 0 auto;
    top: 50%;
    position: absolute;
}

.glossaryWord {
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.glossaryWord:hover {
    background: orange;
}

.glossaryVid {
    width: 400px;
}
