
body {
    background-color: #ffffff;
}

nav {
    height: 115px;
    background-color: #fcfcfc;
}

.input-group {
    top: 34px;
    box-shadow: 0 0 8px 3px rgba(233, 233, 233, 0.98);
}

.form-control {
    width: 592px;
    background-color: #fcfcfc;
    border-radius: 4px;
    height: 48px;
    border: 0px;
}

.form-control::placeholder {
    color: #dedede;
}

.input-group-text {
    background-color: #ffffff;
    border: solid thin #0095ff;
    border-radius: 4px;
}

.input-group-text > i {
    color: #060606;
}

/* ROWS SETUP */
.container-fluid > .row:first-child { /* panel */
    height: 520px;
}

.container-fluid > .row:first-child > div:nth-child(2) { /* make relative so controls can stay on bottom */
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container-fluid > .row:nth-child(3) {
    background-color: rgba(201, 205, 208, 0.05);
    padding: 28px 0px;
}

.container-fluid > .row:nth-child(2) > div { /* title row*/
    padding: 40px 0;
}

.container-fluid > .row:nth-child(4) {
    padding: 46px 0px;
}

.container-fluid > .row:nth-child(5) {
    margin-bottom: 52px;
}

/* PANEL SETUP */
.panel {
    background-color: #272626;
}

.parent ~ .parent { /* hides all but first component */
    display: none;
}

.component {
    float: none;
    display: block;
    margin: 0 auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#videoOverlay {
    background-color: black;
    z-index: 15;
    position: absolute;
    opacity: 0.6;
    top: 115px; /* from nav and margin-top of first row*/
    pointer-events: none; /*so mouse events pass through */
}

.parent {
    width: 100%;
    height: 100%;
    padding-bottom: 48px;
}

.parent:nth-child(3) video, .parent:nth-child(3) img { /* video in text component */
    height: 100%;
    max-height: 100%;
    float: left;
}

.parent:nth-child(3) > .row:nth-child(1) > .col-md-12 > div {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    text-align: center;
}

/* the two wrapper divs for text img and video*/
.parent:nth-child(3) > .row:nth-child(1) > .col-md-12 > div > div:nth-child(1), .parent:nth-child(3) > .row:nth-child(1) > .col-md-12 > div > div:nth-child(2)  {
    height: 100%;
    display:inline-block;
    padding: 0 40px;
}

.vertical-align { /* assign to the row that you want all columns vertically aligned in */
    display: flex;
    align-items: center;
}

/* CONTROLS */

.controls {
    background-color: #343232;
    width: 100%;
    height: 48px;
    opacity: .88;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 4px;
}

/* ARROWS */
.arrow {
    z-index: 5;
}

.leftArrow {
    float: right;
}

.rightArrow {
    float: left;
}

.fa-angle-right, .fa-angle-left {
    color: #acabab;
    opacity: 1.0;
    font-size: 57.1px;
}

.fa-angle-left:hover, .fa-angle-right:hover {
    opacity: 0.2;
    cursor: pointer;
}

.deactivated {
    opacity: 0.2;
    cursor: default;
}

/* Picture component */ 
.panel img {
    /* removes blue overlay if selecting image */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* BELOW THE PANEL */
h1 {
    font-family: "Nunito", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #414141;
}

h2 {
    font-family: "Nunito", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #414141;
    font-size: 24px;
    font-weight: bold;
}

p, span {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.component:nth-child(3) {
    height: 100%;
}



#storyText {
    padding: 0 114px 0px 114px;
    width: 100%;
    text-align: left;
    height: 100%;
    /*bottom: 48px; /* same height as controls */
    color: #414141;
    background-color: #d8d8d8;
}

.parent > .row {
    margin: 0;
}

/* text component row 1 */
.parent:nth-child(3) > .row:nth-child(1) {
    height: 50%;
}

/* text component row 2, text */
.parent:nth-child(3) > .row:nth-child(2) {
    height: 50%;
}

i {
    color: #8e8585;
    padding-right: 10px;
}

.fa-arrows {

}

.bold {
    font-weight: bold;
}

/* SLIDER */
#slider {
    width: ;
    margin: 0 auto;
}

.ui-slider-horizontal {
    height: 3px;
    width: 75%;

}

.ui-slider {
    border: 0;
    background-color: #ededed;
    border-radius: 6px;
    top: 50%;
}

.ui-slider-handle {
    width: 19px;
    height: 18px;
    background-color: #ededed;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    top: 50%;
    margin-top: -4px;
}

.ui-slider-handle:hover {
    opacity: 0.8;
}

.ui-slider-handle:focus {
    /* remove blue focus outline in chrome */
    outline: none;
}

.tickmark {
    display:inline-block;
    /*border-left: thin white solid;*/
    background-color: #ededed;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    position:absolute;
    top: -50%;
    box-sizing: content-box;

}

/* Glossary */
.glossary {
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.glossary:hover {
    background: orange;
}

/* http://www.menucool.com/jquery-slider */



#thumbnail-slider {
    margin:0 auto; /*center-aligned*/
    width: 928px;/*width:400px;*/
    /*padding:20px;*/
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider div.inner ul {
    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider ul li {
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    margin:0;
    margin-right:35px; /* Spacing between thumbs*/
    transition:border-color 0.3s;
    box-sizing:content-box;
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;
}

#thumbnail-slider ul li.active {
    border-color: black;
}

#thumbnail-slider .thumb {
    opacity:1;
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}

/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider-pause-play {display:none;} /*.pause*/

#thumbnail-slider-prev, #thumbnail-slider-next
{
    opacity:1;
    position: absolute;
    /*background-color:#0346a3;*/
    *background-color:#ccc;/*IE7 hack*/
    backface-visibility:hidden;
    width:32px;
    height:60px;
    line-height:60px;
    top: 50%;
    margin:0 auto;
    margin-top:-30px;
    color:white;    
    z-index:10;
    cursor:pointer;
    display: block;
}

#thumbnail-slider-prev {
    left:-60px; right:auto;
    border-radius: 4px;
    box-shadow: 0 1px 18px 0 rgba(248, 248, 248, 0.5);
    border: solid 1px #0095ff;
}

#thumbnail-slider-next {
    left:auto; right:-60px;
    border-radius: 4px;
    box-shadow: 0 1px 18px 0 rgba(248, 248, 248, 0.5);
    border: solid 1px #0095ff;
}
#thumbnail-slider-next.disabled, #thumbnail-slider-prev.disabled {
    opacity:0.3;
    cursor:default;
}


/* arrows */
#thumbnail-slider-prev::before, #thumbnail-slider-next::before {
    position: absolute;
    top: 19px;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-left: 6px solid black;
    border-top: 6px solid black;
}

#thumbnail-slider-prev::before {
    left:11px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider-next::before {
    right:11px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){

    #thumbnail-slider {padding:10px 26px;}

    #thumbnail-slider-prev {left:0px;}

    #thumbnail-slider-next {right:0px;}
}





