
body {
    background-color: #ededed;
}

nav {
    height: 80px;
    background-color: #717070;
}

/* ROWS SETUP */
.container-fluid > .row:first-child {
    margin-top: 56px;
    height: 520px;
}

.container-fluid > .row:first-child > div:nth-child(2) { /* make relative so controls can stay on bottom */
    position: relative;
    height: 100%;
    background-color: #868686;
    padding: 0;
    margin: 0;
}

.container-fluid > .row:nth-child(2) {
    padding-top: 42px;
}

.container-fluid > .row:nth-child(3) {
    background-color: #e6e6e6;
    padding: 28px 0px;
}

.container-fluid > .row:nth-child(4) {
    padding: 46px 0px;
}

/* PANEL SETUP */
.panel {
    background-color: #343232;
}

.component ~ .component { /* hides all but first component */
    display: none;
}

.component {
    float: none;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.vertical-align { /* assign to the row that you want all columns vertically aligned in */
    display: flex;
    align-items: center;
}



/* CONTROLS */

.controls {
    background-color: #343232;
    width: 100%;
    height: 48px;
    opacity: .88;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 4px;
}

/* ARROWS */
.arrow {
    z-index: 5;
}

.leftArrow {
    float: right;
}

.rightArrow {
    float: left;
}

.fa-angle-right, .fa-angle-left {
    color: #acabab;
    opacity: 1.0;
    font-size: 57.1px;
}

.fa-angle-left:hover, .fa-angle-right:hover {
    opacity: 0.2;
    cursor: pointer;
}

.deactivated {
    opacity: 0.2;
    cursor: default;
}

/* Picture component */ 
.panel img {
    /* removes blue overlay if selecting image */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* BELOW THE PANEL */
h1 {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #414141;
}

h2 {
    color: #414141;
    font-size: 24px;
    font-weight: bold;
}

p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    color: #414141;
}

i {
    color: #8e8585;
    padding-right: 10px;
}

.fa-arrows {

}

.bold {
    font-weight: bold;
}

#storyText {
    background-color: #d8d8d8;
    font-size: 29px;
    padding: 50px 114px 98px 114px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    text-align: left;
}

/* SLIDER */
#slider {
    width: ;
    margin: 0 auto;
}

.ui-slider-horizontal {
    height: 3px;
    width: 75%;

}

.ui-slider {
    border: 0;
    background-color: #ededed;
    border-radius: 6px;
    top: 50%;
}

.ui-slider-handle {
    width: 19px;
    height: 18px;
    background-color: #ededed;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    top: 50%;
    margin-top: -4px;
}

.ui-slider-handle:hover {
    opacity: 0.8;
}

.tickmark {
    display:inline-block;
    border-left: thin white solid;
    background-color: #ededed;
    height: 12px;
    position:absolute;
    top: -150%;
    box-sizing: content-box;

}

/* Glossary */
.glossary {
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.glossary:hover {
    background: orange;
}





